<mat-card>

    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input 
                required
                matInput 
                placeholder="Title" 
                minlength="5"
                maxlength="50"
                type="text"
                name="title" 
                ngModel
                #title="ngModel">
                <mat-error *ngIf="title.invalid">Please enter a post title with 5 characters or more.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
                required
                matInput 
                placeholder="Content" 
                minlength="10"
                maxlength="300"
                rows="4" 
                name="content"
                ngModel
                #content="ngModel"></textarea>
                <mat-error *ngIf="content.invalid">Please enter a post content with 10 characters or more.</mat-error>
        </mat-form-field>
        <button 
            mat-raised-button 
            color="accent"
            type="submit"
            [disabled]="postForm.invalid"
            >Save Post</button>
    </form>

</mat-card>